<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<head>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>

<div ng-app="myFE" ng-controller="cardsCtrl">

    <div class="bigInfo" ng-show="isLoading">Loading data...<img src="resources/loading.gif"></div>
    <a class="button" ng-hide="isLoading" ng-click="refresh()">
        <span>Refresh</span>
    </a>
    <div class="lists shops">
        <h1>Shops:</h1>
        <p ng-repeat="s in shops">
            <input type="checkbox" ng-model="$shopBoxes[s]" ng-init="$shopBoxes[s]=true">
            <label>{{s}}</label>
        </p>
    </div>
    <div class="lists expansions">
        <h1>Expansions:</h1>
        <div class="columns">
            <div class="myCheckBox" ng-repeat="e in expansions">
                    <input type="checkbox" ng-model="$expansionBoxes[e]" ng-init="$expansionBoxes[e]=true">
                    <label>{{e}}</label>
            </div>
        </div>
    </div>

    <table class="tg" ng-if="cards.length>0" ng-hide="isLoading">
        <tr>
            <th class="tg-031e">Index</th>
            <th class="tg-031e">Profit</th>
            <th class="tg-031e">Card name</th>
            <th class="tg-031e">Expansion</th>
            <th class="tg-031e">Sell</th>
            <th class="tg-031e">Sell bot</th>
            <th class="tg-031e">Buy</th>
            <th class="tg-031e">Buy bot</th>
            <th class="tg-031e">Sell shop</th>
            <th class="tg-031e">Buy shop</th>
        </tr>
        <tr ng-repeat="c in cards">
            <td class="tg-031e"><b>{{ $index + 1 }}</b></td>
            <td class="tg-031e">{{ c.profit | currency }}</td>
            <td class="tg-031e">{{ c.cardName }}</td>
            <td class="tg-031e">{{ c.expansionName }}</td>
            <td class="tg-031e">{{ c.sellPrice | currency }}</td>
            <td class="tg-031e">{{ c.sellBot }}</td>
            <td class="tg-031e">{{ c.buyPrice | currency }}</td>
            <td class="tg-031e">{{ c.buyBot }}</td>
            <td class="tg-031e">{{ c.sellShop }}</td>
            <td class="tg-031e">{{ c.buyShop }}</td>
        </tr>
    </table>
    <div id="noData" class="bigInfo" ng-if="cards.length==0"><b>No profitable cards found.</b></div>
</div>

<script>
    var app = angular.module('myFE', []);
    app.controller('cardsCtrl', function($scope, $http) {
        $scope.isLoading = false;
        $scope.refresh = function() {
            $scope.isLoading = true;
            $http.get("http://localhost:8080/rest/cards")
                    .success(function(response) {
                        $scope.cards = response;
                        $scope.isLoading = false;
                    });
        };
        $http.get("http://localhost:8080/rest/shops")
                .success(function(response) {
                    $scope.shops = response;
                });
        $http.get("http://localhost:8080/rest/expansions")
                .success(function(response) {
                    $scope.expansions = response;
                });
        $scope.refresh();
    });
</script>

</body>
</html>