body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
.bigInfo {
    text-align: center;
    color: #3A474D;
    margin-top: 50px;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button {
    position: absolute;
    right: 200px;
    display: inline-block;
    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow:
    0px 3px rgba(128,128,128,1), /* gradient effects */
    0px 4px rgba(118,118,118,1),
    0px 5px rgba(108,108,108,1),
    0px 6px rgba(98,98,98,1),
    0px 7px rgba(88,88,88,1),
    0px 8px rgba(78,78,78,1),
    0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;

    background-image:
        /* gloss gradient */
    -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(50%,rgba(255,255,255,0)),
            color-stop(50%,rgba(255,255,255,0.3)),
            color-stop(100%,rgba(255,255,255,0.2))),

        /* dark outside gradient */
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(210,210,210,0.3)),
            color-stop(20%,rgba(210,210,210,0)),
            color-stop(80%,rgba(210,210,210,0)),
            color-stop(100%,rgba(210,210,210,0.3))),

        /* light inner gradient */
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(20%,rgba(255,255,255,0.5)),
            color-stop(80%,rgba(255,255,255,0.5)),
            color-stop(100%,rgba(255,255,255,0))),

        /* diagonal line pattern */
    -webkit-gradient(
            linear,
            0% 100%,
            100% 0%,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(40%,rgba(255,255,255,0)),
            color-stop(40%,#D2D2D1),
            color-stop(60%,#D2D2D1),
            color-stop(60%,rgba(255,255,255,0)),
            color-stop(100%,rgba(255,255,255,0)));

    -webkit-box-shadow:
    0px -1px #fff, /* top highlight */
    0px 1px 1px #FFFFFF; /* bottom edge */

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;

    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button span:hover {
    color: #3BAEBF;
    text-shadow: 0px -1px #3A97A6;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow:
    0px 3px rgba(128,128,128,1),
    0px 4px rgba(118,118,118,1),
    0px 5px rgba(108,108,108,1),
    0px 6px rgba(98,98,98,1),
    0px 7px rgba(88,88,88,1),
    0px 8px rgba(78,78,78,1),
    0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.button:active span{
    -webkit-transform: translate(0, 5px); /* depth of button press */
}

.button span:after {
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    right: 14px;
    top: 12px;

    font-family: 'Cabin';
    font-weight: 700;
    color: #AEBF3B;
    text-shadow: 0px 1px #fff, 0px -1px #97A63A;
    font-size: 26px;
}

table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: center;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: center;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}